{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid p-5" style="background-image: url({% static 'images/image10.jpg' %});background-size:cover">
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 bg-dark bg-opacity-75 text-light p-3">

                <h1 class="text-center mb-5">Forget Password</h1>
                
                <form method="POST">
                    {% csrf_token %}
                    <label>Email Address</label>
                    <input type="email" name="user_email" class="form-control mb-4">

                    <div class="text-center">
                        <button type="submit" class="btn text-light" style="background-color: coral;">SUBMIT</button>

                    </div>

                </form>

            </div>
            <div class="col-4"></div>

        </div>

    </div>

</div>




{% endblock %}