{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid p-5" style="background-image: url({% static 'images/image4.jpg' %});background-size: cover;">
	<div class="container p-5">
		<div class="row">
			<div class="col-12">
				<h1 class="text-light text-center">GALLERY</h1>
				
			</div>
			
		</div>
	</div>
</div>

<div class="container-fluid p-5">
	<div class="container">
		<div class="row">
			{% for x in gallery %}
			<div class="col-3">
				<img src="{{x.image.url}}" width="100%">
				
			</div>
			{% endfor %}
			
			
		</div>
		
	</div>
</div>

{% endblock %}
					

